body{
    background-color: orangered;
}

.responsive_nav {
    font-size: 20px;
    display: block;
    width: 40px;
    height: 36px;
    position: relative;
}

.h5, h5 {
    font-size: 5rem;
    font-weight: bolder;
    font-style: oblique;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    font-style: oblique;
}

.card-title {
    font-size: 3rem;
    font-weight: bolder;
    font-style: oblique;
}

.card {
    margin-top: 2cm;
    
}


